---
---

@import "{{ site.theme }}";

h1:first-of-type {
  display: none;
}

.submission {
  display: inline-flex;
  width: 150px;
  height: 150px;
  padding: 7px;
  background-color: #eee;
  border: 1px dashed #999;
  margin-right: 10px;
  margin-bottom: 10px;
}
