---
---

@import "{{ site.theme }}";

h1:first-of-type {
  display: none;
}

h1, h2 {
  border-bottom: none;
}

blockquote {
  border-left: none; !important
  background-color: #ddd;
  padding: 1em; !important
}

blockquote > h5 {
  margin-bottom: -20px; !important
}

.submission {
  display: inline-flex;
  width: 200px;
  height: 150px;
  padding: 7px;
  background-color: #eee;
  border: 1px dashed #999;
  margin-right: 10px;
  margin-bottom: 10px;
}

td {
  min-width: 90px;
}
